<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>dockChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Dock</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/DockSwap</string>
            <key>TransformRatio</key>
            <real>0.68</real>
            <key>YOffset</key>
            <real>-10.0</real>
            <key>XOffset</key>
            <real>0.0</real>
            <key>ImageHeight</key>
            <real>91.0</real>
            <key>ImageWidth</key>
            <real>320.0</real>
            <key>RowHeight</key>
            <real>70.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/SBDockBG2.png</string>
            </array>
        </dict>
        <key>badgeChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Badge</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/BadgeImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>10.0</real>
            <key>XOffset</key>
            <real>150.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>80.0</real>
            <key>RowHeight</key>
            <real>74.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/SBBadgeBG.png</string>
            </array>
        </dict>
        <key>carrierChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Carrier</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/CarrierImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>20.0</real>
            <key>XOffset</key>
            <real>60.0</real>
            <key>ImageHeight</key>
            <real>20.0</real>
            <key>ImageWidth</key>
            <real>160.0</real>
            <key>RowHeight</key>
            <real>74.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_CARRIER_ATT.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_CARRIER_ATT.png</string>
            </array>
        </dict>
        <key>edgeChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Edge</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/EdgeImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>20.0</real>
            <key>XOffset</key>
            <real>60.0</real>
            <key>ImageHeight</key>
            <real>20.0</real>
            <key>ImageWidth</key>
            <real>160.0</real>
            <key>RowHeight</key>
            <real>74.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_EDGE_ON.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_EDGE_ON.png</string>
            </array>
        </dict>
        <key>airplaneChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Airplane</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/AirplaneImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>20.0</real>
            <key>XOffset</key>
            <real>60.0</real>
            <key>ImageHeight</key>
            <real>20.0</real>
            <key>ImageWidth</key>
            <real>160.0</real>
            <key>RowHeight</key>
            <real>74.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_Airplane.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_Airplane.png</string>
            </array>
        </dict>
        <key>alarmChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Alarm</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/AlarmImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>20.0</real>
            <key>XOffset</key>
            <real>60.0</real>
            <key>ImageHeight</key>
            <real>20.0</real>
            <key>ImageWidth</key>
            <real>160.0</real>
            <key>RowHeight</key>
            <real>74.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_AlarmClock.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_AlarmClock.png</string>
            </array>
        </dict>
        <key>lockChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Lock</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/LockImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>20.0</real>
            <key>XOffset</key>
            <real>60.0</real>
            <key>ImageHeight</key>
            <real>20.0</real>
            <key>ImageWidth</key>
            <real>160.0</real>
            <key>RowHeight</key>
            <real>74.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_LockIcon.png</string>
            </array>
        </dict>
        <key>bluetoothChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Bluetooth</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/BluetoothImages</string>
            <key>TransformRatio</key>
            <real>0.68</real>
            <key>YOffset</key>
            <real>10.0</real>
            <key>XOffset</key>
            <real>25.0</real>
            <key>ImageHeight</key>
            <real>80.0</real>
            <key>ImageWidth</key>
            <real>80.0</real>
            <key>RowHeight</key>
            <real>40.0</real>
            <key>AlertHeight</key>
            <integer>3</integer>
            <key>AlertTransformRatio</key>
            <real>0.85</real>
            <key>AlertTopPadding</key>
            <real>35.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_Bluetooth.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_BluetoothActive.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_Bluetooth.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_BluetoothActive.png</string>
            </array>
        </dict>
        <key>soundChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Sounds</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/SoundImages</string>
            <key>TransformRatio</key>
            <real>0.68</real>
            <key>YOffset</key>
            <real>3.0</real>
            <key>XOffset</key>
            <real>3.0</real>
            <key>ImageHeight</key>
            <real>80.0</real>
            <key>ImageWidth</key>
            <real>80.0</real>
            <key>RowHeight</key>
            <real>80.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>0.85</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/ring.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/mute.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/silent.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/speaker.png</string>
            </array>
        </dict>
        <key>wifiChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>WiFi</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/WiFiImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>15.0</real>
            <key>XOffset</key>
            <real>8.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>50.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_0_AirPort.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_1_AirPort.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_2_AirPort.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_3_AirPort.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_0_AirPort.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_1_AirPort.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_2_AirPort.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_3_AirPort.png</string>
            </array>
        </dict>
        <key>barsChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Signal Bars</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/BarsImages</string>
            <key>TransformRatio</key>
            <real>0.90</real>
            <key>YOffset</key>
            <real>15.0</real>
            <key>XOffset</key>
            <real>8.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>26.0</real>
            <key>RowHeight</key>
            <real>50.0</real>
            <key>AlertHeight</key>
            <integer>4</integer>
            <key>AlertTransformRatio</key>
            <real>0.9</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_0_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_1_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_2_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_3_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_4_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_5_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_0_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_1_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_2_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_3_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_4_Bars.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_5_Bars.png</string>
            </array>
        </dict>
        <key>chat1Chooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Balloon 1</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/Chat1Images</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>8.0</real>
            <key>XOffset</key>
            <real>140.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>50.0</real>
            <key>AlertHeight</key>
            <integer>3</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/MobileSMS.app/Balloon_1.png</string>
            </array>
        </dict>
        <key>chat2Chooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Balloon 2</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/Chat2Images</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>8.0</real>
            <key>XOffset</key>
            <real>140.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>50.0</real>
            <key>AlertHeight</key>
            <integer>3</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/MobileSMS.app/Balloon_2.png</string>
            </array>
        </dict>
        <key>mainSliderChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Main Slider</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/MainSliderImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>13.0</real>
            <key>XOffset</key>
            <real>120.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>80.0</real>
            <key>AlertHeight</key>
            <integer>4</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/Frameworks/TelephonyUI.framework/bottombarknobgray.png</string>
            </array>
        </dict>
        <key>powerSliderChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Power Slider</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/PowerSliderImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>13.0</real>
            <key>XOffset</key>
            <real>120.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>80.0</real>
            <key>AlertHeight</key>
            <integer>4</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/Frameworks/TelephonyUI.framework/bottombarknobred.png</string>
            </array>
        </dict>
        <key>callSliderChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Call Slider</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/CallSliderImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>13.0</real>
            <key>XOffset</key>
            <real>120.0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>80.0</real>
            <key>AlertHeight</key>
            <integer>4</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/Frameworks/TelephonyUI.framework/bottombarknobgreen.png</string>
            </array>
        </dict>
        <key>maskSliderChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Text Mask</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/MaskSliderImages</string>
            <key>TransformRatio</key>
            <real>1.0</real>
            <key>YOffset</key>
            <real>13</real>
            <key>XOffset</key>
            <real>120</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>80</real>
            <key>AlertHeight</key>
            <integer>4</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/Frameworks/TelephonyUI.framework/bottombarlocktextmask.png</string>
            </array>
        </dict>
        <key>dialerChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Bar Dialer</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/DialerImages</string>
            <key>TransformRatio</key>
            <real>0.28</real>
            <key>YOffset</key>
            <real>-240.0</real>
            <key>XOffset</key>
            <real>-40.0</real>
            <key>ImageHeight</key>
            <real>100.0</real>
            <key>ImageWidth</key>
            <real>200.0</real>
            <key>RowHeight</key>
            <real>140.0</real>
            <key>AlertHeight</key>
            <integer>12</integer>
            <key>AlertTransformRatio</key>
            <real>0.5</real>
            <key>AlertTopPadding</key>
            <real>100.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <true/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/MobilePhone.app/BarDialer_Sel.png</string>
            </array>
        </dict>
        <key>batteryChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Battery</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/BatteryImages</string>
            <key>TransformRatio</key>
            <real>0.68</real>
            <key>YOffset</key>
            <real>-25.0</real>
            <key>XOffset</key>
            <real>35.0</real>
            <key>ImageHeight</key>
            <real>50.0</real>
            <key>ImageWidth</key>
            <real>20.0</real>
            <key>RowHeight</key>
            <real>100.0</real>
            <key>AlertHeight</key>
            <integer>6</integer>
            <key>AlertTransformRatio</key>
            <real>0.68</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <true/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_17.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_1.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_2.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_3.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_4.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_5.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_6.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_7.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_8.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_9.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_10.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_11.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_12.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_13.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_14.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_15.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/BatteryBG_16.png</string>
            </array>
        </dict>
        <key>keypadChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Keypad</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/KeypadImages</string>
            <key>TransformRatio</key>
            <real>0.50</real>
            <key>YOffset</key>
            <real>-55</real>
            <key>XOffset</key>
            <real>0.0</real>
            <key>ImageHeight</key>
            <real>100.0</real>
            <key>ImageWidth</key>
            <real>220.0</real>
            <key>RowHeight</key>
            <real>170</real>
            <key>AlertHeight</key>
            <integer>13</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>80.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <true/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/Frameworks/UIKit.framework/Keyboard-Common.artwork</string>
                <string>/System/Library/Frameworks/UIKit.framework/Keyboard-Japanese.artwork</string>
                <string>/System/Library/Frameworks/UIKit.framework/Keyboard-Latin.artwork</string>
                <string>/System/Library/Frameworks/UIKit.framework/Keyboard-StandardQWERTY.artwork</string>
            </array>
        </dict>
        <key>calculatorChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Calculator</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/CalculatorImages</string>
            <key>TransformRatio</key>
            <real>.28</real>
            <key>YOffset</key>
            <real>-125</real>
            <key>XOffset</key>
            <real>0</real>
            <key>ImageHeight</key>
            <real>100</real>
            <key>ImageWidth</key>
            <real>200</real>
            <key>RowHeight</key>
            <real>120</real>
            <key>AlertHeight</key>
            <integer>10</integer>
            <key>AlertTransformRatio</key>
            <real>.5</real>
            <key>AlertTopPadding</key>
            <real>62</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/Calculator.app/CalculatorBackground.png</string>
            </array>
        </dict>
        <key>calculatorLCDChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>CalcLCD</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/CalculatorLCDImages</string>
            <key>TransformRatio</key>
            <real>1</real>
            <key>YOffset</key>
            <real>5</real>
            <key>XOffset</key>
            <real>150</real>
            <key>ImageHeight</key>
            <real>40</real>
            <key>ImageWidth</key>
            <real>40</real>
            <key>RowHeight</key>
            <real>100</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1</real>
            <key>AlertTopPadding</key>
            <real>35</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/Calculator.app/LCDBackground.png</string>
            </array>
        </dict>
        <key>weathericonChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>WeatherIcon</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/WeatherIconImages</string>
            <key>TransformRatio</key>
            <real>1</real>
            <key>YOffset</key>
            <real>-35</real>
            <key>XOffset</key>
            <real>75</real>
            <key>ImageHeight</key>
            <real>50</real>
            <key>ImageWidth</key>
            <real>110</real>
            <key>RowHeight</key>
            <real>155</real>
            <key>AlertHeight</key>
            <integer>8</integer>
            <key>AlertTransformRatio</key>
            <real>1</real>
            <key>AlertTopPadding</key>
            <real>70</real>
            <key>ShowOnlyMainImage</key>
            <true/>
            <key>UsePreviewIfAvailable</key>
            <true/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/Weather.app/clouds.png</string>
                <string>/Applications/Weather.app/flurries.png</string>
                <string>/Applications/Weather.app/flurries2.png</string>
                <string>/Applications/Weather.app/fog.png</string>
                <string>/Applications/Weather.app/fog2.png</string>
                <string>/Applications/Weather.app/hail.png</string>
                <string>/Applications/Weather.app/hail2.png</string>
                <string>/Applications/Weather.app/haze.png</string>
                <string>/Applications/Weather.app/haze2.png</string>
                <string>/Applications/Weather.app/ice.png</string>
                <string>/Applications/Weather.app/lightening.png</string>
                <string>/Applications/Weather.app/mini-cloudrain.png</string>
                <string>/Applications/Weather.app/mini-clouds.png</string>
                <string>/Applications/Weather.app/mini-flurries.png</string>
                <string>/Applications/Weather.app/mini-fog.png</string>
                <string>/Applications/Weather.app/mini-hail.png</string>
                <string>/Applications/Weather.app/mini-ice.png</string>
                <string>/Applications/Weather.app/mini-lightening.png</string>
                <string>/Applications/Weather.app/mini-rain.png</string>
                <string>/Applications/Weather.app/mini-snow.png</string>
                <string>/Applications/Weather.app/mini-snowrain.png</string>
                <string>/Applications/Weather.app/mini-sun.png</string>
                <string>/Applications/Weather.app/mini-suncloud.png</string>
                <string>/Applications/Weather.app/mini-sunhaze.png</string>
                <string>/Applications/Weather.app/mini-sunrain.png</string>
                <string>/Applications/Weather.app/mini-wind.png</string>
                <string>/Applications/Weather.app/moon.png</string>
                <string>/Applications/Weather.app/moon-1.png</string>
                <string>/Applications/Weather.app/moon-10.png</string>
                <string>/Applications/Weather.app/moon-11.png</string>
                <string>/Applications/Weather.app/moon-12.png</string>
                <string>/Applications/Weather.app/moon-13.png</string>
                <string>/Applications/Weather.app/moon-14.png</string>
                <string>/Applications/Weather.app/moon-15.png</string>
                <string>/Applications/Weather.app/moon-16.png</string>
                <string>/Applications/Weather.app/moon-17.png</string>
                <string>/Applications/Weather.app/moon-18.png</string>
                <string>/Applications/Weather.app/moon-19.png</string>
                <string>/Applications/Weather.app/moon-2.png</string>
                <string>/Applications/Weather.app/moon-20.png</string>
                <string>/Applications/Weather.app/moon-21.png</string>
                <string>/Applications/Weather.app/moon-22.png</string>
                <string>/Applications/Weather.app/moon-23.png</string>
                <string>/Applications/Weather.app/moon-24.png</string>
                <string>/Applications/Weather.app/moon-3.png</string>
                <string>/Applications/Weather.app/moon-4.png</string>
                <string>/Applications/Weather.app/moon-5.png</string>
                <string>/Applications/Weather.app/clouds.png</string>
                <string>/Applications/Weather.app/moon-7.png</string>
                <string>/Applications/Weather.app/moon-8.png</string>
                <string>/Applications/Weather.app/moon-9.png</string>
                <string>/Applications/Weather.app/partlycloudy.png</string>
                <string>/Applications/Weather.app/partlycomboclouds.png</string>
                <string>/Applications/Weather.app/rain&amp;clouds.png</string>
                <string>/Applications/Weather.app/rain&amp;snow.png</string>
                <string>/Applications/Weather.app/rain&amp;snow2.png</string>
                <string>/Applications/Weather.app/rain&amp;sun.png</string>
                <string>/Applications/Weather.app/rain.png</string>
                <string>/Applications/Weather.app/snow.png</string>
                <string>/Applications/Weather.app/snow2.png</string>
                <string>/Applications/Weather.app/sun.png</string>
                <string>/Applications/Weather.app/weather_day_bkgd.png</string>
                <string>/Applications/Weather.app/weather_night_bkgd.png</string>
            </array>
        </dict>
        <key>weatherbackgroundChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>WeatherBkg</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/WeatherBackgroundImages</string>
            <key>TransformRatio</key>
            <real>1</real>
            <key>YOffset</key>
            <real>-35</real>
            <key>XOffset</key>
            <real>60</real>
            <key>ImageHeight</key>
            <real>50</real>
            <key>ImageWidth</key>
            <real>110</real>
            <key>RowHeight</key>
            <real>155</real>
            <key>AlertHeight</key>
            <integer>8</integer>
            <key>AlertTransformRatio</key>
            <real>1</real>
            <key>AlertTopPadding</key>
            <real>70</real>
            <key>ShowOnlyMainImage</key>
            <true/>
            <key>UsePreviewIfAvailable</key>
            <true/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/Weather.app/weather_day_bkgd.png</string>
                <string>/Applications/Weather.app/weather_night_bkgd.png</string>
            </array>
        </dict>
        <key>notepadChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>NotePad</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/NotePadImages</string>
            <key>TransformRatio</key>
            <real>1</real>
            <key>YOffset</key>
            <real>-37</real>
            <key>XOffset</key>
            <real>110</real>
            <key>ImageHeight</key>
            <real>50</real>
            <key>ImageWidth</key>
            <real>110</real>
            <key>RowHeight</key>
            <real>155</real>
            <key>AlertHeight</key>
            <integer>8</integer>
            <key>AlertTransformRatio</key>
            <real>1</real>
            <key>AlertTopPadding</key>
            <real>75</real>
            <key>ShowOnlyMainImage</key>
            <true/>
            <key>UsePreviewIfAvailable</key>
            <true/>
            <key>ImagePaths</key>
            <array>
                <string>/Applications/MobileNotes.app/arrow left.png</string>
                <string>/Applications/MobileNotes.app/arrow pressed.png</string>
                <string>/Applications/MobileNotes.app/arrow right.png</string>
                <string>/Applications/MobileNotes.app/body index.png</string>
                <string>/Applications/MobileNotes.app/body.png</string>
                <string>/Applications/MobileNotes.app/Default.png</string>
                <string>/Applications/MobileNotes.app/edge bottom.png</string>
                <string>/Applications/MobileNotes.app/edge top.png</string>
                <string>/Applications/MobileNotes.app/email.png</string>
                <string>/Applications/MobileNotes.app/grad bottom index.png</string>
                <string>/Applications/MobileNotes.app/grad bottom.png</string>
                <string>/Applications/MobileNotes.app/grad top.png</string>
                <string>/Applications/MobileNotes.app/header back pressed.png</string>
                <string>/Applications/MobileNotes.app/header back.png</string>
                <string>/Applications/MobileNotes.app/header button pressed.png</string>
                <string>/Applications/MobileNotes.app/header button.png</string>
                <string>/Applications/MobileNotes.app/index pressed.png</string>
                <string>/Applications/MobileNotes.app/list arrow.png</string>
                <string>/Applications/MobileNotes.app/new.png</string>
                <string>/Applications/MobileNotes.app/rule.png</string>
                <string>/Applications/MobileNotes.app/top bar.png</string>
                <string>/Applications/MobileNotes.app/trash can.png</string>
                <string>/Applications/MobileNotes.app/trash lid.png</string>
                <string>/Applications/MobileNotes.app/trash.png</string>
            </array>
        </dict>
        <key>hudChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Hud</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/HudImages</string>
            <key>TransformRatio</key>
            <real>1</real>
            <key>YOffset</key>
            <real>10</real>
            <key>XOffset</key>
            <real>80</real>
            <key>ImageHeight</key>
            <real>160</real>
            <key>ImageWidth</key>
            <real>160</real>
            <key>RowHeight</key>
            <real>180</real>
            <key>AlertHeight</key>
            <integer>9</integer>
            <key>AlertTransformRatio</key>
            <real>1</real>
            <key>AlertTopPadding</key>
            <real>30</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/hud.png</string>
            </array>
        </dict>
        <key>loadingChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Loding</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/LoadingImages</string>
            <key>TransformRatio</key>
            <real>0.68</real>
            <key>YOffset</key>
            <real>3.0</real>
            <key>XOffset</key>
            <real>140.0</real>
            <key>ImageHeight</key>
            <real>80.0</real>
            <key>ImageWidth</key>
            <real>80.0</real>
            <key>RowHeight</key>
            <real>80.0</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>0.85</real>
            <key>AlertTopPadding</key>
            <real>40.0</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/app.png</string>
            </array>
        </dict>
				<key>incallglowChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>In Call Glow</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/InCallGlowImages</string>
            <key>TransformRatio</key>
            <real>.7</real>
            <key>YOffset</key>
            <real>13</real>
            <key>XOffset</key>
            <real>0</real>
            <key>ImageHeight</key>
            <real>40.0</real>
            <key>ImageWidth</key>
            <real>40.0</real>
            <key>RowHeight</key>
            <real>80</real>
            <key>AlertHeight</key>
            <integer>4</integer>
            <key>AlertTransformRatio</key>
            <real>1.0</real>
            <key>AlertTopPadding</key>
            <real>40</real>
            <key>ShowOnlyMainImage</key>
            <true/>
            <key>UsePreviewIfAvailable</key>
            <false/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/INC_Glow.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/INC_Glass.png</string>
            </array>
        </dict>
        <key>headerbatteryChooser</key>
        <dict>
            <key>HeaderName</key>
            <string>Top Battery</string>
            <key>AlternateImagesPath</key>
            <string>/var/root/Library/Customize/HeaderBatteryImages</string>
            <key>TransformRatio</key>
            <real>1</real>
            <key>YOffset</key>
            <real>-35</real>
            <key>XOffset</key>
            <real>100</real>
            <key>ImageHeight</key>
            <real>59</real>
            <key>ImageWidth</key>
            <real>64</real>
            <key>RowHeight</key>
            <real>75</real>
            <key>AlertHeight</key>
            <integer>5</integer>
            <key>AlertTransformRatio</key>
            <real>1</real>
            <key>AlertTopPadding</key>
            <real>80</real>
            <key>ShowOnlyMainImage</key>
            <false/>
            <key>UsePreviewIfAvailable</key>
            <true/>
            <key>ImagePaths</key>
            <array>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_BatteryBG.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_BatteryCharged.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_BatteryCharging.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_BatteryInsides.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/FSO_BatteryLowBG.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_BatteryCharged.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_BatteryCharged.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_BatteryCharging.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_BatteryInsides.png</string>
                <string>/System/Library/CoreServices/SpringBoard.app/Default_BatteryLowBG.png</string>
            </array>
        </dict>
    </dict>
</plist>
